In [1]:
import supereeg as se
import pandas as pd
import numpy as np
import os

In [2]:
pwd

'/Users/lucyowen/repos/supereeg_paper/code/notebooks'

In [3]:
ram_data_dir = '/Users/lucyowen/repos/supereeg_paper/data/ram'
pyfr_data_dir = '/Users/lucyowen/repos/supereeg_paper/data/pyfr'

In [4]:
pyfr_data_dir

'/Users/lucyowen/repos/supereeg_paper/data/pyfr'

## PyFR analysis

In [5]:
pyfr_across = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/pyfr/pyfr_across.csv', index_col=0)
pyfr_within = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/pyfr/pyfr_within.csv', index_col=0)

In [6]:
pyfr_across.head()

,Unnamed: 0.1,R,Correlation,Subject,Electrode,Sample rate,Samples,Total Electrodes,Sessions,Number thresholded
0,0,[-63.64 -21.93 5.37],0.844742,FR190,7,250.0,3465000,10,7.0,42
1,0,[-48.48 38.4 17.26],0.861268,CH013,34,250.0,1549237,121,2.0,2
2,0,[ 49.49 -34.7 35.17],0.665390,CH048,36,250.0,2454000,44,4.0,79
3,0,[ 65.66 -67.29 25.83],0.641038,TJ019,62,250.0,3600000,82,2.0,16
4,0,[-36.36 -1.81 59.76],0.764453,FR050,51,250.0,447750,98,1.0,2

In [7]:
pyfr_within.head()

   Unnamed: 0.1                       R  Correlation             Full Subject
0             0  [ 61.62 -13.33 -25.8 ]     0.310237  TJ032_62_within   TJ032
1             0  [ 63.64 -70.63  31.1 ]     0.665180  FR150_52_within   FR150
2             0  [-56.57   0.16 -27.4 ]     0.683088   CH068_2_within   CH068
3             0  [-55.56  35.11  21.44]     0.371791  CH067_37_within   CH067
4             0     [62.63 -2.89 39.03]     0.443610  FR220_28_within   FR220

## Merge dataframes

In [8]:
pyFR_df = pd.merge(pyfr_across, pyfr_within, on=['Subject', 'R'])
pyFR_df.dropna(inplace=True)
pyFR_df.rename(columns={"Correlation_x":"Correlation_Across", "Correlation_y":"Correlation_Within"}, inplace=True)
e_corrs = pd.DataFrame()
e_corrs['across'] = pyFR_df['Correlation_Across']
e_corrs['within'] = pyFR_df['Correlation_Within']
e_corrs['Subject'] = pyFR_df['Subject']
e_corrs['R'] = pyFR_df['R']
e_corrs['Sample rate'] = pyFR_df['Sample rate']
e_corrs['Samples'] = pyFR_df['Samples']
e_corrs['Thresholded Electrodes'] = pyFR_df['Total Electrodes']
e_corrs['Sessions'] = pyFR_df['Sessions']
e_corrs['Number thresholded'] = pyFR_df['Number thresholded']

In [9]:
e_corrs.head()

,across,within,Subject,R,Sample rate,Samples,Thresholded Electrodes,Sessions,Number thresholded
0,0.844742,0.639768,FR190,[-63.64 -21.93 5.37],250.0,3465000,10,7.0,42
1,0.861268,0.640264,CH013,[-48.48 38.4 17.26],250.0,1549237,121,2.0,2
2,0.665390,0.519857,CH048,[ 49.49 -34.7 35.17],250.0,2454000,44,4.0,79
3,0.641038,0.445575,TJ019,[ 65.66 -67.29 25.83],250.0,3600000,82,2.0,16
4,0.764453,0.504416,FR050,[-36.36 -1.81 59.76],250.0,447750,98,1.0,2

## With a few other stats

In [10]:
e_corrs['Total Time (hrs)'] = np.round(e_corrs['Samples']/e_corrs['Sample rate']/3600,3)
e_corrs['Average Session Length (hrs)'] = np.round(e_corrs['Total Time (hrs)']/e_corrs['Sessions'],3)
e_corrs['Average Session Length (hrs)'].head()
e_corrs['Total Electrodes'] = e_corrs['Thresholded Electrodes'] + e_corrs['Number thresholded']
e_corrs['Proportion Thresholded'] = np.round(e_corrs['Number thresholded'] / e_corrs['Total Electrodes'], 3)

## Rename subject ids

In [11]:
grouped_results_e_corrs = e_corrs.groupby('Subject')['within', 'across', 'Sample rate', 'Samples', 
                                                  'Sessions', 'Number thresholded', 'Total Time (hrs)', 'Average Session Length (hrs)', 
                                                  'Total Electrodes', 'Proportion Thresholded'].mean()

grouped_results_e_corrs['Subject'] = range(grouped_results_e_corrs.shape[0])
subj_dict = grouped_results_e_corrs['Subject'].to_dict()
e_corrs.Subject = [subj_dict[item] for item in e_corrs.Subject]

In [12]:
e_corrs.to_csv(os.path.join(pyfr_data_dir, 'pyfr.csv'))

# RAM

In [13]:
W_a_a = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/ram/all/a_sub-a_exp.csv', index_col=0)
W_a_a.name = 'W_a_a'
W_a_all = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/ram/all/a_sub-all_exp.csv', index_col=0)
W_a_all.name = 'W_a_all'
W_a_w = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/ram/all/a_sub-w_exp.csv', index_col=0)
W_a_w.name = 'W_a_w'
W_w_a = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/ram/all/w_sub-a_exp.csv', index_col=0)
W_w_a.name = 'W_w_a'
W_w_all = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/ram/all/w_sub-all_exp.csv', index_col=0)
W_w_all.name = 'W_w_all'
W_w_w = pd.read_csv('/Users/lucyowen/Desktop/paper_figures/ram/all/w_sub-w_exp.csv', index_col=0)
W_w_w.name = 'W_w_w'

In [14]:
dfs = [W_a_a, W_a_all, W_a_w, W_w_a, W_w_all, W_w_w]

In [15]:
RAM_df = dfs[0]
RAM_df = RAM_df.rename(columns={"Correlation":RAM_df.name})
for df_ in dfs[1:]:
    RAM_df = RAM_df.merge(df_, on=['Subject', 'R', 'Electrode', 'Samples', 'Total Electrodes','Sample rate','Sessions', 'Number thresholded'])
    
    RAM_df = RAM_df.rename(columns={"Correlation":df_.name})

In [16]:
RAM_df.dropna(inplace=True)

In [17]:
RAM_df['Sessions'] = RAM_df['Sessions'] + 1

In [18]:
RAM_df['Thresholded Electrodes'] = RAM_df['Total Electrodes']
RAM_df['Total Time (hrs)'] = np.round(RAM_df['Samples']/RAM_df['Sample rate']/3600,3)
RAM_df['Average Session Length (hrs)'] = np.round(RAM_df['Total Time (hrs)']/RAM_df['Sessions'],3)
RAM_df['Average Session Length (hrs)'].head()
RAM_df['Total Electrodes'] = RAM_df['Thresholded Electrodes'] + RAM_df['Number thresholded']
RAM_df['Proportion Thresholded'] = np.round(RAM_df['Number thresholded'] / RAM_df['Total Electrodes'], 3)

In [19]:
all_subject_e = np.array([])
all_exp_e = np.array([])
for i , item in enumerate(RAM_df['Subject'].values):
    all_subject_e = np.append(all_subject_e, item.split('_')[0])
    all_exp_e = np.append(all_exp_e, item.split('_')[1]+ '_' + item.split('_')[2])

In [20]:
RAM_df['Subject'] = all_subject_e
RAM_df['Experiment'] = all_exp_e

In [21]:
grouped_results_ram = RAM_df.groupby('Subject')['Experiment','W_w_w', 'W_w_a', 'W_w_all', 'W_a_w', 'W_a_a','W_a_all', 'Sample rate', 'Samples', 
                                                  'Sessions', 'Number thresholded', 'Total Time (hrs)', 'Average Session Length (hrs)', 
                                                  'Total Electrodes', 'Proportion Thresholded'].mean()

grouped_results_ram['Subject'] = range(grouped_results_ram.shape[0])
subj_dict = grouped_results_ram['Subject'].to_dict()
RAM_df.Subject = [subj_dict[item] for item in RAM_df.Subject]

In [28]:
grouped_results_ram['Subject'].index

Index(['R1032D', 'R1061T', 'R1075J', 'R1083J', 'R1092J', 'R1094T', 'R1106M',
       'R1108J', 'R1111M', 'R1112M', 'R1135E', 'R1147P', 'R1167M', 'R1169P',
       'R1171M', 'R1174T', 'R1189M', 'R1215M', 'R1221P', 'R1243T', 'R1260D',
       'R1264P', 'R1274T', 'R1291M'],
      dtype='object', name='Subject')

In [29]:
RAM_df.shape

(3159, 19)

In [23]:
RAM_df.to_csv(os.path.join(ram_data_dir, 'ram.csv'))